<div class="container">
  <div class="row mb-3">
    <div class="col-md-8" >
      <div class="chartParent"  #chartParent>
        <ng-template appChart></ng-template>
      </div>
    </div>
  </div>
  <div class="widget">
    <div class="divTable">
      <div class="divTableBody">
        <div class="divTableRow">
          <div class="divTableCell"></div>
          <div class="divTableCell header-text">Today</div>
          <div class="divTableCell header-text"> 30 Days</div>
          <div class="divTableCell header-text">60 Days</div>
        </div>
        <div class="divTableRow">
          <div id="commits" class="divTableCell">Commits</div>
          <div class="divTableCell"><ng-template appChart></ng-template></div>
          <div class="divTableCell"><ng-template appChart></ng-template></div>
          <div class="divTableCell"><ng-template appChart></ng-template></div>
        </div>
        <div class="divTableRow">
          <div id="pull" class="divTableCell">Pull Requests</div>
          <div class="divTableCell"><ng-template appChart></ng-template></div>
          <div class="divTableCell"><ng-template appChart></ng-template></div>
          <div class="divTableCell"><ng-template appChart></ng-template></div>
        </div>
        <!-- <div class="divTableRow">
          <div id="issues" class="divTableCell">Issues</div>
          <div class="divTableCell"><ng-template appChart></ng-template></div>
          <div class="divTableCell"><ng-template appChart></ng-template></div>
          <div class="divTableCell"><ng-template appChart></ng-template></div>
        </div> -->
        <div class="divTableRow">
          <div id="commuters" class="divTableCell">Commuters</div>
          <div class="divTableCell"><ng-template appChart></ng-template></div>
          <div class="divTableCell"><ng-template appChart></ng-template></div>
          <div class="divTableCell"><ng-template appChart></ng-template></div>
        </div>
        <div class="divTableRow">
          <div id="contributors" class="divTableCell">Contributors</div>
          <div class="divTableCell"><ng-template appChart></ng-template></div>
          <div class="divTableCell"><ng-template appChart></ng-template></div>
          <div class="divTableCell"><ng-template appChart></ng-template></div>
        </div>
        <!-- <div class="divTableRow">
          <div id="ideators" class="divTableCell">Ideators</div>
          <div class="divTableCell"><ng-template appChart></ng-template></div>
          <div class="divTableCell"><ng-template appChart></ng-template></div>
          <div class="divTableCell"><ng-template appChart></ng-template></div>
        </div> -->
      </div>
    </div>
  </div>
</div>
